table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    padding: 20px;
    text-align: center;
    border: 1px solid black;
  }
  
  td:first-child {
    background-color: #C2D9A3;
  }
  
  td:last-child {
    background-color: #F5B7B1;
  }